[submodule "webapp/src/main/webapp/themes/cu-boulder/expmap"]
	path = webapp/src/main/webapp/themes/cu-boulder/expmap
	url = https://github.com/cu-boulder/expertsmap
[submodule "webapp/src/main/webapp/themes/cu-boulder/facetview-HTML"]
	path = webapp/src/main/webapp/themes/cu-boulder/facetview-HTML
	url = https://dottermann@github.com/cu-boulder/facetview-HTML.git
